<!-- <h1>{{ title }}</h1>

<input type="text" [(ngModel)] = "data">

<p>{{ data | newPipe }}</p>

<app-new-comp [inputData]="data" (eve) = getDataPar($event) [counter]="parentCounter"></app-new-comp>
<button (click)="incrementCounter()">Increment Parent Counter</button>
<br>

<button class="btn" 
  (click)="setLoginDetails()">
  Submit
</button>

<button class="btn" [ngClass]="{
  'btn-primary': login,
  'btn-danger': !login
}" 
(click)="getLoginDetails()">
Get
</button> -->


<!-- <app-template-driven></app-template-driven> -->

<!-- <app-reactive-forms></app-reactive-forms> -->
<!-- <app-new-course></app-new-course> -->

<!-- <app-change-password></app-change-password> -->

<!-- <app-http-example></app-http-example> -->

<!-- <app-github></app-github> -->

<app-navbar></app-navbar>
<!-- <app-blog-archives></app-blog-archives> -->

<!-- the component associated with the current route will be showing after the router outlet, not inside this element -->
<router-outlet></router-outlet>